.text__wrap {
  display: flex;
  align-items: center;
  height: 600px;
  position: relative;
}

.inputTyping {
  position: absolute;
  /*height: 600px;*/
  /*width: 100%;*/
  border: 0;
  opacity: 0;
  outline: none;
  cursor: default;
}

.text__container {
  margin-left: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.letter-wrap {
  display: inline-block;
  min-width: 6px;
  min-height: 23px;
  text-align: center;
}

.letter {
  color: var(--sub-color);
  pointer-events: none;
  user-select: none;
}

.succeed {
  color: var(--text-color);
}

.fail {
  color: var(--error-color);
}


.empty {
  height: 100%;
  &::before {
    top: 16px;
  }
}



.current-letter {
  position: relative;

  &::before {
    content: '';
    height: 2px;
    width: 10px;
    background-color: var(--sub-color);
    left: -1px;
    bottom: 0;

    transition: .2s;
    animation-fill-mode: forwards;
    position: absolute;

    animation: caretFlashSmooth 0.6s infinite;
    border-radius: .5rem;
  }
}

.gone::before {
  left: calc(100% - 1px);
}



@keyframes caretFlashSmooth {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.restart {
  background: transparent;
  border: 0;
  cursor: pointer;

  outline: none;

  &:hover {
    svg {
      fill: var(--text-color);
    }
  }

  svg {
    fill: var(--sub-color);
  }

}

.not-focused {
  opacity: .25;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.not-focused-info {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
  user-select: none;
  cursor: pointer;
  svg {
    width: 22px;
    fill: var(--text-color);
  }
}