.text__wrap {
    display: flex;
    align-items: center;
    height: 600px;
}
.inputTyping {
    position: absolute;
    height: 600px;
    width: 100%;
    border: 0;
    opacity: 0;
    outline: none;
    cursor: default;
}

.text__container {
    margin-left: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.letter {
    opacity: .4;
}

.succeed {
    opacity: 1;
}

.fail {
    color: #9B4444;
    opacity: 1;
}


.curletter {
    display: block;
}

.curletter::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #CBB279;
    width: 1px;
    height: 18px;
}