
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}


:root {
  --bg-color: #1b2028;
  --main-color: #23a9d5;
  --caret-color: #4b5975;
  --sub-color: #4b5975;
  --sub-alt-color: #151a21;
  --text-color: #ccccb5;
  --error-color: #b81b2c;
  --error-extra-color: #84131f;
  --colorful-error-color: #b81b2c;
  --colorful-error-extra-color: #84131f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}